.formControl.error input,
.formControl.error textarea
{
    border: solid red 1px;
}

.formControl.error span
{
    color: red;
}

.formSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: red;
}

.formContainer {
    padding: 30px;
}

.saveBtn {
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3F4257;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    height: 30px;
    margin-bottom: 10px;
    outline: none;
}

.saveBtn span {
    margin-left: 5px;
    font-size: 16px;
}

label span {
    color: #3F4257;
    font-weight: bold;
}

.formControl input, .formControl textarea {
    width: 100%;
    font-size: 16px;
    margin-bottom: 10px;
}

.formControl textarea {
    height: 150px;
}

.formControl input {
    height: 20px;
}

.formControl input[type='checkbox'] {
    width: 10%;
    outline: none;
    height: 25px;
}