@keyframes ldio-qas1aupsnd9 {
    0% {
        transform: rotate(0)
    }
    100% {
        transform: rotate(360deg)
    }
}

.ldio-qas1aupsnd9 div {
    box-sizing: border-box !important
}

.ldio-qas1aupsnd9 > div {
    position: absolute;
    width: 144px;
    height: 144px;
    top: 28px;
    left: 28px;
    border-radius: 50%;
    border: 16px solid #000;
    border-color: #ff5e3a transparent #ff5e3a transparent;
    animation: ldio-qas1aupsnd9 1.36986301369863s linear infinite;
}

.ldio-qas1aupsnd9 > div:nth-child(2), .ldio-qas1aupsnd9 > div:nth-child(4) {
    width: 108px;
    height: 108px;
    top: 46px;
    left: 46px;
    animation: ldio-qas1aupsnd9 1.36986301369863s linear infinite reverse;
}

.ldio-qas1aupsnd9 > div:nth-child(2) {
    border-color: transparent #ffffff transparent #ffffff
}

.ldio-qas1aupsnd9 > div:nth-child(3) {
    border-color: transparent
}

.ldio-qas1aupsnd9 > div:nth-child(3) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-qas1aupsnd9 > div:nth-child(3) div:before, .ldio-qas1aupsnd9 > div:nth-child(3) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 48px;
    background: #ff5e3a;
    border-radius: 50%;
    box-shadow: 0 128px 0 0 #ff5e3a;
}

.ldio-qas1aupsnd9 > div:nth-child(3) div:after {
    left: -16px;
    top: 48px;
    box-shadow: 128px 0 0 0 #ff5e3a;
}

.ldio-qas1aupsnd9 > div:nth-child(4) {
    border-color: transparent;
}

.ldio-qas1aupsnd9 > div:nth-child(4) div {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(45deg);
}

.ldio-qas1aupsnd9 > div:nth-child(4) div:before, .ldio-qas1aupsnd9 > div:nth-child(4) div:after {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    top: -16px;
    left: 30px;
    background: #ffffff;
    border-radius: 50%;
    box-shadow: 0 92px 0 0 #ffffff;
}

.ldio-qas1aupsnd9 > div:nth-child(4) div:after {
    left: -16px;
    top: 30px;
    box-shadow: 92px 0 0 0 #ffffff;
}

.loadingio-spinner-double-ring-16tl0maypse {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: #d1e2f2;
}

.ldio-qas1aupsnd9 {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-qas1aupsnd9 div {
    box-sizing: content-box;
}
